## Build results
bin/
obj/

## VS Code
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

## Visual Studio
.vs/
*.user
*.suo

## Rider / JetBrains
.idea/

## OS files
.DS_Store
Thumbs.db

## NuGet
*.nupkg
**/packages/*